* {
  margin: 0;
  font-family: 'Kaisei Tokumin', serif;
}


*::selection {
  background: #FFB0AB;
}

html {
  scroll-behavior: smooth;
}



body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

header {
  background: #FFB0AB;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 10;
  height: 80px;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  height: 60px;
  padding: 10px;
  object-fit: cover;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding-right: 50px;
}

ul li {
  list-style: none;
  padding: 15px;
}

ul li:hover {
  transform: scale(1.5);
  transition: all 2s ease-in-out;
}


a {
  color: #2B70A8;
  text-decoration:rgba(0, 0, 0, 0.1)
}

a:hover {
  text-decoration: #2B70A8;
  color: #2B70A8;
}

main {
  padding-top: 40px;
  flex: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
}


p {
  color: #3e4046;
  font-size: 2rem;
}


h3, h4, h5, h6 {
  color: #474749;
  font-family: 'Zilla Slab', serif;

}

h1 {
  font-family: 'La Belle Aurore', cursive;
  font-size: 4rem;
  color: #474749;
}

h2 {
  color: white;
}

h3 {
  font-family: 'La Belle Aurore', cursive;
  font-size: 2rem;
  color: #474749;;
}



footer {
  padding: 20px;
  font-size: 1rem
}

.hero {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15rem;
  background-color: #c6d7eb;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 10rem;
}

.hero-content {
  margin-right: 5rem;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(50px);
  }
}


.hero-image {
  border-radius: 20px;
  border: none;
  animation: 3s infinite alternate bounce;
}

#buy-now {
  min-width: 30px;
  max-width: 200px; 
  cursor: pointer;
  font-family: 'Roboto Slab';
  color: white;
  background-color:#CE1F1F;
  padding: 12px;
  border-radius: 20px;
  border: none;
  border: #111827 2px solid;
  font-size: 20px;
}

@keyframes shake {
  from {
    transform: translateX(-5px);
  }

  5% {
    transform: translateX(5px);
  }

  10% {
    transform: translateX(-5px);
  }

  15% {
    transform: translateX(5px);
  }

  to {
    transform: translateX(5px);
  }
}



#buy-now {
  position: fixed;
  right: 32px;
  bottom: 32px;
  animation: 3s infinite alternate shake;
}

.css-button-3d--rose {
  min-width: 20px;
  max-width: 200px;
  color: #fff;
  padding: 5px 10px;
  font-family: 'Zilla Slab', serif;
  font-weight: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #FFB0AB;
  box-shadow: 0 5px #fa64a8;
}
.css-button-3d--rose:hover {
  box-shadow: 0 3px #ff0a78;
  top: 1px;
}
.css-button-3d--rose:active {
  box-shadow: 0 0 #ff0a78;
  top: 5px;
}

.text-container {
  font-family: 'Courier New';
  font-size: 4rem;
}

.catalogue-container {
  background-color: white;
  height: 110vh;
  padding: 10rem;
}

.catalogue-title {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.catalogue-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-ccatalogue:hover {
  box-shadow: 0px 4px 27px 0px rgba(66,66,66,0.59);
  cursor: pointer;
  transition: all 0.3s;
}


.card {
  border: #E5E7EB 2px solid;
  border-radius: 10px;
  width: 25%;
  height: 300px;
  overflow: hidden;
  margin: 1rem;
}

.card img {
  object-fit: contain;
}

.card:hover {
  box-shadow: 0px 4px 27px 0px rgba(66,66,66,0.59);
  cursor: pointer;
  transition: all 0.3s;
}

.contact-container {
  min-height: 20vh;
  background-color: #c6d7eb;
  padding: 10rem;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  height: 40px;
  border-radius: 10px;
  margin-bottom: 8px;
  border: #1868ae 2px solid;
  font-size: 20px;
  padding: 5px;
}

.contact-container input:focus, textarea:focus {
  border: #1868ae 4px solid;
  outline: none;
}